<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>PTV</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/styles/angular-material.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
<div ng-app="myApp" layout="column" ng-controller="ServiceController" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span ng-if="page == 0">How would you like to reach station?</span>
        <span ng-if="page == 1">Which transportation do you prefer?</span>
        <span ng-if="page == 2">Which line do you commute?</span>
        <span ng-if="page == 3">What is your destination?</span>
        <span ng-if="page == 4">Would you like to have someone pick you up?</span>
        <span flex></span>
        <md-button ng-click="page = page - 1">
          Back
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" ng-if="page === 1 || page === 0" style="padding: 5px">
      <div layout="row" layout-align="center" ng-class="walkClass" flex ng-click="changeMode(1.4, 0)">
        <md-icon md-svg-icon="walk" class="md-48"></md-icon>
      </div>
      <div layout="row" layout-align="center" ng-class="rideClass" flex ng-click="changeMode(4.5, 1)">
        <md-icon md-svg-icon="bike" class="md-48"></md-icon>
      </div>
      <div layout="row" layout-align="center" ng-class="driveClass" flex ng-click="changeMode(11, 2)">
        <md-icon md-svg-icon="car" class="md-48"></md-icon>
      </div>
    </div>
    <div layout="row" ng-if="page === 1" style="padding: 5px; margin-top: 5px">
      <div layout="row" layout-align="center" ng-class="busClass" flex ng-click="getStops(0)">
        <md-icon md-svg-icon="bus" class="md-48"></md-icon>
      </div>
      <div layout="row" layout-align="center" ng-class="tramClass" flex ng-click="getStops(1)">
        <md-icon md-svg-icon="tram" class="md-48"></md-icon>
      </div>
      <div layout="row" layout-align="center" ng-class="trainClass" flex ng-click="getStops(2)">
        <md-icon md-svg-icon="train" class="md-48"></md-icon>
      </div>
    </div>

  <div layout="column" layout-fill style="padding-bottom: 32px;" ng-repeat="location in locations" ng-if="page === 1">
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" ng-click="getDepartures(location)">
      <h3>{{location.location_name}}</h3>
      <p>Distance: {{ location.distance }} meters</p>
      <p layout="row" layout-align="center center">
        <md-icon md-svg-icon="timelapse" class="md-24"></md-icon>{{ location.needTime }} minutes
      </p>
    </md-whiteframe>
  </div>    
  <div layout="column" layout-fill style="padding-bottom: 32px;" ng-repeat="departure in departures" ng-if="page === 2">
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" ng-click="getLine(departure)">
      <h3 layout="row">{{departure.platform.stop.location_name}} <md-icon md-svg-icon="fromto" class="md-24"></md-icon> {{departure.platform.direction.direction_name}}</h3>
      <p layout="row" layout-align="center center"> <md-icon md-svg-icon="time" class="md-24"></md-icon>  {{ departure.time_realtime_utc | date:"EEEE 'at' h:mma" }}</p>
      <p>Route: {{departure.platform.direction.linedir_id}}</p>
    </md-whiteframe>
  </div> 
  <div layout="column" layout-fill style="padding-bottom: 32px;" ng-repeat="line in lines" ng-if="page === 3">
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" ng-click="getNotification(line.location_name)">
      <h3 layout="row" layout-align="center center"><md-icon md-svg-icon="stepout" class="md-24"></md-icon> {{line.location_name}}</h3>
      <p>Suburb: {{ line.suburb }}</p>
    </md-whiteframe>
  </div> 
  <div layout="column" layout-fill style="padding-bottom: 32px;" ng-if="page === 4">
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" ng-click="getNotification(destination)">
      <h3>Welldone</h3>
      <p>Your {{transport_type }} is at {{startTime | date:"EEEE 'at' h:mma"}}</p>
      <p>You should start <b class="redfont">{{needTime}} minutes</b> earlier to reach {{destination}}</p>
      <md-input-container flex>
          <label>Send email notification to your dearling</label>
          <input type="email" ng-model="userInput.email">
      </md-input-container>
      <md-input-container flex ng-if="userInput.email">
          <label>Your name</label>
          <input type="name" ng-model="userInput.name">
      </md-input-container>
      <div layout="row"> 
       <md-button class="md-raised md-primary" ng-click="submit()">Share</md-button>
       <md-button class="md-raised" ng-click="save()">Save Event</md-button>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" ng-if="thanks === 'Thank you!'">
      <h3>{{thanks}}</h3>
    </md-whiteframe>
  </div> 
</div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-material.js"></script>
    <script src="/js/dependencies/angular-aria.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-momentjs.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/dependencies/ngGeolocation.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/public/app.js"></script>
    <script src="/js/public/ServiceController.js"></script>
    <!--SCRIPTS END-->

  </body>

</html>
